@model IEnumerable<NiceAdmin.Models.ViewModels.OrdersVM.DessertOrderIndexVM>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DessertOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DessertOrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DessertOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DessertOrderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryMethod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
