@model IEnumerable<NiceAdmin.Models.ViewModels.CategoryIndexVM>
           @*.EFModels.Category>*@

@{
    ViewBag.Title = "Index";
}

<main id="main" class="main">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="pagetitle mt-3">
                    <h1>類別清單</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Desserts")">甜點管理</a></li>
                            <li class="breadcrumb-item active"><a href="@Url.Action("Index","Categories")">類別管理</a></li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->
                <button class="btn btn-outline-primary text-light fw-bold mb-3"> @Html.ActionLink("新增類別", "Create")</button>
                <div class="container">
                    <table class="table datatable table-striped table-hover" id="searchDessert">
                        <thead>
                            <tr>


                                <th class="w-50">
                                    類別名稱

                                </th>
                                <th>
                                    功能
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td  class="NewCateName">
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @*<button class="btn btn-outline-primary btn-sm custom-button">@Html.ActionLink("編輯", "Edit", new { id = item.CategoryId })</button>*@
                                        <button type="button" class="btn btn-outline-primary btnEditName" data-bs-toggle="modal" data-bs-target="#EditCateName" data-name="@item.CategoryName" data-id="@item.CategoryId">
                                            @*編輯類別名稱*@<i class="bi bi-pencil-square"></i>
                                        </button>                                       
                                        @*@Html.ActionLink("刪除", "Delete", new { id = item.CategoryId })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Vertically centered Modal -->
                    <div class="modal fade" id="EditCateName" tabindex="-1" aria-hidden="true">
                        <!-- Modal content -->
                        <div class="modal-dialog modal-dialog-centered">
                            <!-- Modal body -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="EditTitle">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>新甜點類別名稱</h4>
                                    <input type="text" id="inputNewName" class="form-control" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary btnSave">更新</button>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">關閉</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Vertically centered Modal-->
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
   <script>
       $(document).ready(function () {
           $('.btnEditName').click(function () {
               var id = $(this).data('id');
               var name = $(this).data('name');
               $('#EditTitle').text(`類別:  ${name}`);
               $('.btnSave').data('id', id);
           });

           $('.btnSave').click(function () {
               var categoryId = $(this).data('id');
               var categoryName = $('#inputNewName').val();

               $.ajax({
                   type: "POST",
                   url: "/Categories/EditName",
                   data: { categoryId: categoryId, categoryName: categoryName },
               }).done(function (data) {
                   $('#EditCateName').modal('hide');
                   Swal.fire({
                       position: 'center',
                       icon: 'success',
                       title: '名稱修改成功!',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   var saveBtn = $(`.btnEditName[data-id="${categoryId}"]`);
                   saveBtn.parent().siblings('.NewCateName').text(data.categoryName);
               }).fail(function (err) {
                   console.log(err);
               });
           });
       });
    </script>
    }