@model IEnumerable<NiceAdmin.Models.ViewModels.CategoryIndexVM>
           @*.EFModels.Category>*@

@{
    ViewBag.Title = "Index";
}

<main id="main" class="main">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="pagetitle mt-3">
                    <h1>類別清單</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Desserts")">甜點管理</a></li>
                            <li class="breadcrumb-item active"><a href="@Url.Action("Index","Categories")">類別管理</a></li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->
                <button class="btn btn-outline-primary text-light fw-bold mb-3"> @Html.ActionLink("新增類別", "Create")</button>
                <div class="container">
                    @*<input type="checkbox" class="selectAll" name="selectAll" value="all"> Select All*@
                    <table class="table datatable table-striped table-hover" id="searchDessert">
                        <thead>
                            <tr>
                                @*<th scope="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="selectAllCheckbox" />
                                        <label class="form-check-label" for="selectAllCheckbox">
                                            下架
                                        </label>
                                    </div>
                                </th>*@

                                <th class="w-50">
                                    類別名稱
                                    @*@Html.DisplayNameFor(model => model.CategoryName)*@
                                </th>
                                <th>
                                    功能
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <!--<td>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" data-checkbox="childCheckbox" />
                                        </label>-->
                                        @*<div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" data-checkbox="childCheckbox" />
                                            </div>*@
                                    <!--</td>-->
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("編輯", "Edit", new { id = item.CategoryId }) |
                                        @*@Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |*@
                                        @Html.ActionLink("刪除", "Delete", new { id = item.CategoryId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
   <script>

       var selectAllCheckbox = $('#selectAllCheckbox');
       var checkboxes = $('tbody input[type="checkbox"][data-checkbox="childCheckbox"]');

       // 全選 checkbox 的變更事件監聽器
       selectAllCheckbox.on('change', function () {
           checkboxes.prop('checked', $(this).is(':checked'));
       });

       // 下方 checkbox 的變更事件監聽器
       checkboxes.on('change', function () {
           selectAllCheckbox.prop('checked', checkboxes.length === checkboxes.filter(':checked').length);
       });

    </script>
    }