@model NiceAdmin.Models.EFModels.DessertOrder

@{
    ViewBag.Title = "刪除甜點訂單";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>刪除甜點訂單</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="breadcrumb-item">   甜點訂單管理  </li>
                <li class="breadcrumb-item active">  刪除甜點訂單頁面  </li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->



    <h3 style="color: red;">確定要刪除此筆訂單?</h3>
    <div>
        <h4>DessertOrder</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Coupon.CouponName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Coupon.CouponName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Member.MemberName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Member.MemberName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderStatus.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderStatus.StatusName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Recipient)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Recipient)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecipientPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecipientPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecipientAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecipientAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShippingFee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingFee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DessertOrderTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DessertOrderTotal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveryMethod)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeliveryMethod)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderCancellationReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderCancellationReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiscountInfo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiscountInfo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</main>
