@model NiceAdmin.Models.EFModels.Teacher

@{
    ViewBag.Title = "刪除師資";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>刪除師資</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="breadcrumb-item">   師資管理  </li>
                <li class="breadcrumb-item active">  刪除師資  </li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->



    <h3>確定要刪除此筆資料嗎?</h3>
    <div>
        <h4>Teacher</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TeacherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeacherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeacherImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeacherImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Specialty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Specialty)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Experience)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Experience)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.License)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.License)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Academic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Academic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeacherStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeacherStatus)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</main>
