@model IEnumerable<NiceAdmin.Models.ViewModels.DiscountGroupIndexVM>

@{
    ViewBag.Title = "Index";
}
<main id="main" class="main">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="pagetitle mt-3">
                    <h1>優惠群組清單</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Default")">首頁</a></li>
                            <li class="breadcrumb-item">   行銷管理  </li>
                            <li class="breadcrumb-item active">  優惠群組清單  </li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->
                <section class="section">
                    <button class="btn btn-primary mb-3 "id="create">新增</button>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DiscountGroupName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DiscountGroupItems)
                                    </th>
                                    <th>
                                        功能
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscountGroupName)
                                        </td>
                                        <td class="DiscountGroupItems">
                                            @Html.DisplayFor(modelItem => item.DiscountGroupItems)
                                        </td>
                                        <td>
                                            @Html.ActionLink("編輯", "Edit", new { discountGroupId = item.DiscountGroupId }, new { @class = "btn btn-primary" }) 
                                            <button class="btn btn-danger delCI" data-id="@item.DiscountGroupId">刪除</button>
                                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "delCI" })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div><!-- End Default Tabs -->
        </div>
    </div>
</main>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script>
        document.addEventListener("DOMContentLoaded", function () {
            $('#create').click(function () {
                $.ajax({
                    type: "post",
                    url: "/DiscountGroups/Create",
                }).done(data => {
                    if (data == "新增成功") {
                        location.reload();
                    }
                    else {
                        Swal.fire({
                            title: `${data}`,
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        })
                    }
                })
            })
            $('.delCI').click(function () {
                var self = $(this);
                var DiscountGroupId = self.attr('data-id');
                Swal.fire({
                    title: '確定要刪除這個群組嗎?',
                    text: "刪除後不可復原!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '刪除!',
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.get("/DiscountGroups/Delete?discountGroupId=" + DiscountGroupId, null,
                            function () {
                                Swal.fire(
                                    '刪除成功!',
                                    '這個群組再也不會回來了',
                                    'success'
                                )
                                location.reload();
                            })
                    }
                })
            })
            $('.DiscountGroupItems').each(function () {
                
                var text = $(this).text().trim()
                if (text != "無") {
                    var index = text.indexOf("]")
                    var text1 = text.slice(0, index+1)
                    var text2 = text.slice(index + 1)
                    if (text2.length > 50) {
                        var truncatedText2 = text2.substr(0, 50) + "...";
                        $(this).html(`${text1}<br>${truncatedText2}`)
                    }
                    else {
                        $(this).html(`${text1}<br>${text2}`)
                    }
                }
            })
        });

</script>
}




