@model IEnumerable<NiceAdmin.Models.ViewModels.DessertsVM.DessertIndexPartVM>
<div class="table-responsive">
    <table class="table table-striped table-hover datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DessertName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @*@Html.DisplayFor(modelItem => item.Category.CategoryName)*@
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DessertName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td class="status">                      
                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.StatusText)</span>                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>