@model NiceAdmin.Models.EFModels.Discount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountGroup.DiscountGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountGroup.DiscountGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimitValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
