@model IEnumerable<NiceAdmin.Models.EFModels.MemberCoupon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Coupon.CouponName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Coupon.CouponName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberCouponId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberCouponId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberCouponId })
        </td>
    </tr>
}

</table>
