@model NiceAdmin.Models.ViewModels.PromotionsVM.CouponDetailVM

@{
    ViewBag.Title = "Details";
}
<main id="main" class="main">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="pagetitle mt-3">
                    <h1>優惠券詳情</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                            <li class="breadcrumb-item">   行銷管理  </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Coupons")">優惠券清單</a></li>
                            <li class="breadcrumb-item active">  優惠券詳情  </li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->
                <section class="section">
                    <div>
                        <dl class="dl-horizontal">
                            @Html.HiddenFor(model => model.CouponCategoryId)
                            <dt>
                                @Html.DisplayNameFor(model => model.CouponName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CouponName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CouponCategoryName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CouponCategoryName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DiscountTarget)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DiscountTarget)
                            </dd>
                            <div id="CouponCode" class="d-none">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CouponCode)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CouponCode)
                                </dd>
                            </div>
                            <dt>
                                @Html.DisplayNameFor(model => model.LimitType)
                            </dt>

                            <dd id="LimitType">
                                @Html.DisplayFor(model => model.LimitType)
                            </dd>
                            <div id="LimitValue">
                                <dt>
                                    @Html.DisplayNameFor(model => model.LimitValue)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LimitValue)
                                </dd>
                            </div>
                            <dt>
                                @Html.DisplayNameFor(model => model.DiscountType)
                            </dt>

                            <dd id="DiscountType">
                                @Html.DisplayFor(model => model.DiscountType)
                            </dd>
                            <div id="DiscountValue">
                                <dt>
                                    @Html.DisplayNameFor(model => model.DiscountValue)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DiscountValue)
                                </dd>
                            </div>
                            <div id="timeRange">
                                <dt>
                                    @Html.DisplayNameFor(model => model.StartAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StartAt)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.EndAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.EndAt)
                                </dd>
                            </div>
                            <div id="Expiration">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Expiration)
                                </dt>

                                <dd id="days">
                                    @Html.DisplayFor(model => model.Expiration)
                                </dd>
                            </div>
                            <dt>
                                @Html.DisplayNameFor(model => model.CreateAt)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateAt)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("儲存", "Edit", new { id = Model.CouponId }) 
                        @*@Html.ActionLink("Back to List", "Index")*@
                    </p>

                </section>
            </div><!-- End Default Tabs -->
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            document.addEventListener("DOMContentLoaded", function () {
                var categoryId = $('#CouponCategoryId').val();
                if (categoryId == 2) {
                    $('#Expiration').addClass("d-none")
                }
                else if (categoryId == 4) {
                    $('#Expiration').addClass("d-none")
                    $('#CouponCode').removeClass("d-none")
                }
                else {
                    $('#timeRange').addClass("d-none")
                }
                var limitType = $('#LimitType').text().trim()
                
                var discountType = $('#DiscountType').text().trim()

                if (limitType == "") {
                    $('#LimitValue').hide()
                    $('#LimitType').text("沒有限制")
                }
                else if (limitType == 1) {
                    $('#LimitType').text("消費數量")
                }
                else {
                    $('#LimitType').text("消費金額")
                }

                if (discountType == 1) {
                    $('#DiscountType').text("折價")
                }
                else if (discountType == 2) {
                    $('#DiscountType').text("折扣")
                }
                else {
                    $('#DiscountType').text("免運費")
                    $('#DiscountValue').hide()
                }

                var expirationTime = $('#days').text().trim()
                $('#days').text(`${expirationTime}天`)
            })
    </script>
}