@model IEnumerable<NiceAdmin.Models.ViewModels.PromotionsVM.CouponIndexVM>

@{
    ViewBag.Title = "Index";
}

<main id="main" class="main">

    <div class="pagetitle mt-3">
        <h1>優惠券清單</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="breadcrumb-item">   行銷管理  </li>
                <li class="breadcrumb-item active">  優惠券清單  </li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <!-- End Page Title -->
                <section class="section mt-3">

                    
                    <a href="@Url.Action("Create","Coupons")"class="btn btn-primary me-2 mb-2">新增</a>
                    <a href="@Url.Action("Index","CouponSettings")" class="btn btn-primary mb-2">優惠券設定</a>    
                    
                    <table class="table table-hover datatable table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CouponName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CouponCategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiscountTarget)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndAtText)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StatusText)
                                </th>
                                <th>
                                    功能
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CouponName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CouponCategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiscountTarget)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateAt)
                                    </td>
                                    <td class="endAt">
                                        @Html.DisplayFor(modelItem => item.EndAtText)
                                    </td>
                                    <td>
                                        @if (item.StatusText == "上架")
                                        {
                                            <span class="badge bg-success">@Html.DisplayFor(modelItem => item.StatusText)</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.StatusText)</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("詳情", "Details", new { id = item.CouponId }, new { @class = "btn btn-outline-primary" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </section>
            </div><!-- End Default Tabs -->
        </div>
    </div>
</main>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //這個東西想要把超過結束時間的tr換背景色
        //但換完之後會被datatable蓋掉
        $(document).ready(function () {
            //$('.endAt').each(function () {
            //    var date = new Date(`${$(this).text().trim()}`)
            //    var current = new Date();
            //    if (current > date) {
            //        $(this).parent().addClass('endCoupon');
            //    }
            //})
            
        })
        

    </script>
}