@model NiceAdmin.Models.ViewModels.PromotionsVM.PromotionCreateVM

@{
    ViewBag.Title = "Create";
}

<main id="main" class="main">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="pagetitle mt-3">
                    <h1>新增促銷活動</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                            <li class="breadcrumb-item">   行銷管理  </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Promotions")">  促銷活動清單</a>  </li>
                            <li class="breadcrumb-item active">  新增促銷活動  </li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->
                <section class="section">
                    @using (Html.BeginForm("Create", "Promotions", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="mb-3">
                                @Html.LabelFor(model => model.PromotionName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.PromotionName, new { htmlAttributes = new { @class = "form-control", style = "width: 200px" } })
                                @Html.ValidationMessageFor(model => model.PromotionName, "", new { @class = "text-danger" })

                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(model => model.CouponId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownList("CouponId", null, htmlAttributes: new { @class = "form-select", style = "width: 200px" })
                                @Html.ValidationMessageFor(model => model.CouponId, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.PromotionImage, htmlAttributes: new { @class = "form-label" })
                                <div id="previewImages" class="mb-3">

                                </div>
                                <input type="file" name="PromotionImage" value="" class="form-control" id="PromotionImage"style = "width: 300px" />
                                @Html.ValidationMessageFor(model => model.PromotionImage, "", new { @class = "text-danger" })
                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "width: 500px" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.LaunchAt, htmlAttributes: new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.LaunchAt, new { @class = "form-control", type = "datetime-local", style = "width: 300px" })
                                @Html.ValidationMessageFor(model => model.LaunchAt, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.StartAt, htmlAttributes: new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.StartAt, new { @class = "form-control", type = "datetime-local", style = "width: 300px" })
                                @Html.ValidationMessageFor(model => model.StartAt, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3">
                                @Html.LabelFor(model => model.EndAt, htmlAttributes: new { @class = "form-label" })
                                @Html.TextBoxFor(model => model.EndAt, new { @class = "form-control", type = "datetime-local", style = "width: 300px" })
                                @Html.ValidationMessageFor(model => model.EndAt, "", new { @class = "text-danger" })

                            </div>

                            <div class="mb-3">
                                <input type="submit" value="新增" class="btn btn-primary" />
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("回到列表", "Index")
                    </div>
                </section>
            </div><!-- End Default Tabs -->
        </div>
    </div>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            checkImg();
            $('#previewImages').addClass('d-none')

            $("#LaunchAt").click(function () {
                var now = new Date();
                var year = now.getFullYear();
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var day = ("0" + now.getDate()).slice(-2);
                var hour = ("0" + now.getHours()).slice(-2);
                var minute = ("0" + now.getMinutes()).slice(-2);
                var currentDateTime = year + "-" + month + "-" + day + "T" + hour + ":" + minute ;

                $("#LaunchAt").attr("min", currentDateTime);
            })
            

            $("#LaunchAt").change(function () {
                var launchAtValue = $(this).val();
                var startAtValue = $("#StartAt").val();


                $("#StartAt").attr("min", launchAtValue);


                if (startAtValue < launchAtValue) {
                    $("#StartAt").val("");
                }
            });
            $("#StartAt").change(function () {
                var startAtValue = $(this).val();
                var endAtValue = $("#EndAt").val();

                // 設定 EndAt 欄位的最小可選擇時間
                $("#EndAt").attr("min", startAtValue);

                // 檢查 EndAt 欄位的值是否小於 StartAt 欄位的值
                if (endAtValue < startAtValue) {
                    $("#EndAt").val(""); // 清空 EndAt 欄位的值
                }
            });


            var firstOption = $('#CouponId').children().first();
            firstOption.text("無");


            function checkImg() {
                var maxSize = 2 * 1024 * 1024;
                $('input[type="file"]').change(function (e) {
                    
                    var files = e.target.files;
                    if (files && files.length > 0) {
                        $('#previewImages').empty(); // 清空預覽區域
                        for (var i = 0; i < files.length; i++) {
                            if (files[i].size < maxSize) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var image = $('<img>');
                                    image.attr('src', e.target.result);
                                    image.attr('alt', 'Preview');
                                    image.addClass("createPromotionImageSize")
                                    $('#previewImages').append(image);
                                    $('#previewImages').removeClass('d-none');
                                };
                                reader.readAsDataURL(files[i]);
                            }
                            else {
                                alert("照片檔案超過2MB");
                            }
                        }
                    }
                    else {
                        $('#previewImages').empty(); // 清空預覽區域
                    }
                })
            }
            $('#CouponId').change(function () {
                var couponId = $('#CouponId').val();
                var start = $('#StartAt')
                var end = $('#EndAt')
                if (couponId != 0) {
                    $.ajax({
                        type: "POST",
                        url: "/Promotions/GetCouponTime",
                        data: { couponId: couponId },
                    }).done(function (data) {
                        if (data.indexOf(',') == -1) {
                            Swal.fire({
                                icon: 'error',
                                title: '錯誤',
                                text: data
                            })
                            $('#CouponId').val(0);
                        }
                        else {
                            var ary = data.split(',');
                            var startDate = formatDate(ary[0]);
                            var endDate = formatDate(ary[1]);
                            start.val(startDate);
                            end.val(endDate);
                        }
                    })
                }
            })
            function formatDate(dateString) {
                var date = new Date(dateString);
                var formattedDate = date.toISOString().slice(0, 16); // Format as "yyyy-MM-ddThh:mm"
                return formattedDate;
            }

        })
    </script>
}
