@model NiceAdmin.Models.EFModels.Promotion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.CouponName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon.CouponName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaunchAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaunchAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PromotionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
