@model IEnumerable<NiceAdmin.Models.ViewModels.PromotionsVM.PromotionIndexVM>

@{
    ViewBag.Title = "Index";
}

<main id="main" class="main">

    <div class="pagetitle mt-3">
        <h1>促銷活動清單</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="breadcrumb-item">   行銷管理  </li>
                <li class="breadcrumb-item active"><a href="@Url.Action("Index","Promotions")">促銷活動清單</a>    </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <!-- End Page Title -->
                <section class="section mt-3">

                    <p>
                        @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-primary" })
                    </p>
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PromotionImage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PromotionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CouponName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>功能</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Uploads/@item.PromotionImage" alt="@item.PromotionImage" class="w-100 height100px">
                                        @*@Html.DisplayFor(modelItem => item.PromotionImage)*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PromotionName)
                                    </td>
                                    <td class="CouponName">
                                        @Html.DisplayFor(modelItem => item.CouponName)
                                    </td>
                                    <td class="Description">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @if (item.Status == "未上架")
                                        {
                                            <span class="badge bg-info">@Html.DisplayFor(modelItem => item.Status)</span>
                                        }
                                        else if (item.Status == "已下架")
                                        {
                                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-success">@Html.DisplayFor(modelItem => item.Status)</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("詳情", "Details", new { id = item.PromotionId }, new { @class = "btn btn-primary me-1 mb-1" })
                                        @Html.ActionLink("編輯", "Edit", new { id = item.PromotionId }, new { @class = "btn btn-primary expire me-1 mb-1", data_status = item.Status })
                                        @Html.ActionLink("變更圖片", "EditImage", new { id = item.PromotionId }, new { @class = "btn btn-primary expire me-1 mb-1", data_status = item.Status })
                                        <button class="btn btn-danger recall me-1" data-status="@item.Status" data-id="@item.PromotionId">下架</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div><!-- End Default Tabs -->
        </div>
    </div>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            document.addEventListener("DOMContentLoaded", function () {
                $('.Description').each(function () {
                    var text = $(this).text().trim();
                    
                    if (text.length > 10) {
                        var truncatedText = text.substr(0, 10)+"...";
                       
                        $(this).text(truncatedText);
                    }
                })
                $('.CouponName').each(function () {
                    var text = $(this).text().trim();
                    if (text == "") {
                        $(this).text("無")
                    }
                })
                $('.recall').each(function () {
                    var status = $(this).data('status')
                    if (status != "上架中") {
                        $(this).hide()
                    }
                })
                $('.expire').each(function () {
                    var status = $(this).data('status')
                    if (status == "已下架") {
                        $(this).hide()
                    }
                })
                $('.recall').click(function () {
                    var promotionId = $(this).data('id')
                    $.ajax({
                        type: "post",
                        url: "/Promotions/Recall",
                        data: { promotionId: promotionId }
                    }).done(data => {
                        if (data === true) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: '下架成功',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $(this).hide();
                            var siblingsWithExpire = $(this).parent().find('.expire')
                            siblingsWithExpire.each(function () {
                                $(this).hide();
                            })
                            var statusSpan = $(this).parent().prev().children()
                            statusSpan.removeClass('bg-success');
                            statusSpan.addClass('bg-danger');
                            statusSpan.text('已下架');
                        }
                    })
                })
            })
    </script>
}