@model NiceAdmin.Models.ViewModels.MembersVM.EmployeeIndexVM

@{
    ViewBag.Title = "Delete";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>刪除員工</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Members")">會員清單</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Employees")">員工清單</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Roles")">角色清單</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Permissions")">權限清單</a></li>
            </ol>
        </nav>
    </div>

    <h3>Are you sure you about that?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmployeeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmployeeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Roles)
            </dt>

            @*<dd>
                    @Html.DisplayFor(model => model.Roles)
                </dd>*@

            <dd>
                @foreach (var role in Model.Roles)
                {
                    @role.RoleName<br />
                }
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="刪除" class="btn btn-default btn-danger" />
                @*@Html.ActionLink("返回", "Index")*@
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">返回</button>
            </div>
        }
    </div>
</main>