@using System.Security.Claims
@using System.Web
@{
    var user = Context.User as ClaimsPrincipal;
    bool isAdmin = user.IsInRole("admin");
    bool isDessertSale = user.IsInRole("dessertSale");
    bool isLessonSale = user.IsInRole("lessonSale");
    bool isMarketing = user.IsInRole("marketing");
    bool isHR = user.IsInRole("humanResources");
    bool isStaff = user.IsInRole("staff");

    //var imageName = ""; // 儲存目前員工的圖片檔案名稱
    //if (user.Identity.IsAuthenticated)
    //{
    //    // 從ClaimsPrincipal中擷取目前員工的圖片檔案名稱
    //    var imageClaim = user.FindFirst(c => c.Type == "EmployeeId");
    //    if (imageClaim != null)
    //    {
    //        imageName = imageClaim.Value;
    //    }
    //}

    //var imagePath = ""; // 圖片的完整路徑
    //if (!string.IsNullOrEmpty(imageName))
    //{
    //    // 組合圖片的完整路徑
    //    imagePath = Url.Content("~/img/" + imageName);
    //}
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Sierra 甜點</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="~/img/logoNew.png" rel="icon" />
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/Scripts/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="~/Scripts/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/simple-datatables/style.css" rel="stylesheet" />

    @*dataTable Css*@

    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">

    @* sweetalert *@
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    @*<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        * {
            box-sizing: border-box;
        }

        .autocomplete {
            position: relative;
        }

            .autocomplete input[type="text"] {
                width: 100%;
            }

            .autocomplete .autocomplete-items {
                position: absolute;
                border: 1px solid #d4d4d4;
                border-bottom: none;
                border-top: none;
                z-index: 99;
                top: 100%;
                left: 0;
                right: 0;
            }

                .autocomplete .autocomplete-items div {
                    padding: 10px;
                    cursor: pointer;
                    background-color: #fff;
                    border-bottom: 1px solid #d4d4d4;
                }

                    .autocomplete .autocomplete-items div:hover {
                        background-color: #e9e9e9;
                        border-bottom: 3px solid #717ff5;
                    }

            .autocomplete .autocomplete-active {
                background-color: DodgerBlue !important;
                color: #ffffff;
            }

        .height100px {
            height: 100px;
        }

        .createPromotionImageSize {
            width: 80%;
            height: 250px;
        }

        .topsellImg {
            border-radius: 5px;
            max-width: 100px;
            font-size: 22px;
        }
        .promotionDetailImg{
            width:100%;
            height:250px;
        }
        .fzCarousel {
            font-size: 40px;
        }
        .couponSettingBox{
            width:300px;
            height:50px;
            border:solid 2px black;
            border-radius:5px;
        }

        .fz30 {
            font-size: 30px;
        }
    </style>

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center">
                <img src="~/img/logeExtraShadow.png" alt="" />
                <span class="d-none d-lg-block">Sierra</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <div class="search-bar">
            <form class="search-form align-items-center" method="POST" action="#">
                <div class="autocomplete">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword" id="tags" />
                </div>
            </form>
        </div>
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <!-- End Search Icon-->

                <li>
                    <a class="nav-link nav-icon" href="@Url.Action("SierraIndex","Home",new { cId = "" })" data-bs-toggle="dropdown">
                        <i class="bi bi-arrow-up-left-square"></i>
                        @*<span class="badge bg-primary badge-number">4</span>*@
                    </a>
                </li>


                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0"
                       href="#"
                       data-bs-toggle="dropdown">
                        @*<img src="~/img/profile-img.jpg"
                            alt="Profile"
                            class="rounded-circle" />*@
                        @*@if (!string.IsNullOrEmpty(imagePath))
                        {
                            <img src="@imagePath" alt="員工照片" />
                        }*@
                        <span class="d-none d-md-block dropdown-toggle ps-2 " style="font-size:15px">你好,@User.Identity.Name</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@User.Identity.Name</h6>
                            <div>
                                @{
                                    if (isAdmin)
                                    {
                                        <em>[最高管理者]</em>
                                    }
                                    if (isDessertSale)
                                    {
                                        <em>[甜點銷售]</em>
                                    }
                                    if (isLessonSale)
                                    {
                                        <em>[課程銷售]</em>
                                    }
                                    if (isMarketing)
                                    {
                                        <em>[行銷管理]</em>
                                    }
                                    if (isHR)
                                    {
                                        <em>[人資]</em>
                                    }
                                    if (isStaff)
                                    {
                                        <em>[一般員工]</em>
                                    }
                                }
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="/Employees/Profiles/">
                                <i class="bi bi-person"></i>
                                <span>個人簡介</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="/Employees/ResetPassword/">
                                <i class="bi bi-key"></i>
                                <span>重設密碼</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="/Employees/Setting">
                                <i class="bi bi-gear"></i>
                                <span>設定</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="/Employees/Info">
                                <i class="bi bi-question-circle"></i>
                                <span>說明</span>
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        @*<li>
            <a class="dropdown-item d-flex align-items-center"
               href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>個人簡介</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider" />
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center"
               href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>帳戶設定</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider" />
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center"
               href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>需要幫助?</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider" />
        </li>*@

                        <li>
                            <a class="jcc dropdown-item d-flex align-items-center" href="/Employees/Logout/">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>登出</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","Home")">
                    <i class="bi bi-grid"></i>
                    <span>首頁</span>
                </a>
            </li>
            @*End Dashboard Nav*@
            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#members-nav"
                   data-bs-toggle="collapse"
                   href="@Url.Action("Index","Members")">
                    <i class="bi bi-layout-text-window-reverse"></i><span>會員管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="members-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Index","Members")">
                            <i class="bi bi-circle"></i><span>會員清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Employees")">
                            <i class="bi bi-circle"></i><span>員工清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Roles")">
                            <i class="bi bi-circle"></i><span>角色清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Permissions")">
                            <i class="bi bi-circle"></i><span>權限清單</span>
                        </a>
                    </li>

                </ul>
            </li>
            @*End Members Nav*@
            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#tables-nav"
                   data-bs-toggle="collapse"
                   href="@Url.Action("Index","Desserts")">
                    <i class="bi bi-layout-text-window-reverse"></i><span>甜點管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Create","Desserts")">
                            <i class="bi bi-circle"></i><span>新增甜點</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Desserts")">
                            <i class="bi bi-circle"></i><span>甜點清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Categories")">
                            <i class="bi bi-circle"></i><span>甜點類別</span>
                        </a>
                    </li>
                </ul>
            </li>
            @*End Tables Nav*@
            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#class-nav"
                   data-bs-toggle="collapse"
                   href="@Url.Action("Index","Lessons")">
                    <i class="bi bi-layout-text-window-reverse"></i><span>課程管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="class-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Create","Lessons")">
                            <i class="bi bi-circle"></i><span>新增課程</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Lessons")">
                            <i class="bi bi-circle"></i><span>課程清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","LessonCategories")">
                            <i class="bi bi-circle"></i><span>課程類別</span>
                        </a>
                    </li>
                </ul>
            </li>
            @*End Class Nav*@
            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#teacher-nav"
                   data-bs-toggle="collapse"
                   href="@Url.Action("Index","Teacher")">
                    <i class="bi bi-layout-text-window-reverse"></i><span>師資管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="teacher-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Create","Teachers")">
                            <i class="bi bi-circle"></i><span>新增教師</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Teachers")">
                            <i class="bi bi-circle"></i><span>教師清單</span>
                        </a>
                    </li>
                </ul>
            </li>
            @*End Teacher Nav*@
            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#orders-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>訂單管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="orders-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Index","LessonOrders")">
                            <i class="bi bi-circle"></i><span>課程訂單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","DessertOrders")">
                            <i class="bi bi-circle"></i><span>甜點訂單</span>
                        </a>
                    </li>

                </ul>
            </li>
            @*End Orders Nav*@
            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#discounts-nav"
                   data-bs-toggle="collapse"
                   href="@Url.Action("Index","Promotions")">
                    <i class="bi bi-layout-text-window-reverse"></i><span>行銷管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="discounts-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">

                    <li>
                        <a href="@Url.Action("Index","DiscountGroups")">
                            <i class="bi bi-circle"></i><span>優惠群組清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Coupons")">
                            <i class="bi bi-circle"></i><span>優惠券清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Coupons")">
                            <i class="bi bi-circle"></i><span>新增優惠券</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","MemberCoupons")">
                            <i class="bi bi-circle"></i><span>會員優惠券清單</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Promotions")">
                            <i class="bi bi-circle"></i><span>優惠活動清單</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","Promotions")">
                            <i class="bi bi-circle"></i><span>新增優惠活動</span>
                        </a>
                    </li>
                </ul>
            </li>



            <li class="nav-heading">其他</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Home/FAQ">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q</span>
                </a>
            </li>

         <!-- End F.A.Q Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Contact","Home")">
                    <i class="bi bi-envelope"></i>
                    <span>聯絡我們</span>
                </a>
            </li>
            @*End Contact Page Nav*@



            <li>
                <div id="currentTimeContainer"></div>
            </li>
            @*End CurrentTime*@
        </ul>
    </aside>

    <!-- End Sidebar-->

    @RenderBody()

    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; 2023 Copyright <strong><span>Sierra</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            Designed by <a href="@Url.Action("Index","Home")">Sierra</a>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#"
       class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/Scripts/vendor/apexcharts/apexcharts.amd.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Scripts/vendor/echarts/echarts.min.js"></script>
    <script src="~/Scripts/vendor/quill/quill.min.js"></script>
    <script src="~/Scripts/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/vendor/php-email-form/validate.js"></script>

    @*連結DataTable*@
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Scripts/js/main.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        //$(document).ready(function () {

        $(document).ready(function () {
            var dataTable = $('.datatable').DataTable({
                "lengthMenu": [5, 10, 20],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/zh-HANT.json',
                },

            });
        });

         // 定義一個函式來定期從伺服器更新時間
    function updateTime() {
        $.ajax({
            url: "@Url.Action("CurrentTime", "Home")",
            type: "GET",
            success: function (result) {
                // 更新 partial view 中的時間
                //$("#currentTime").html(result);
                $("#currentTimeContainer").html(result);
            }
        });
    }

    // 設置定時器，每隔一段時間呼叫一次 updateTime 函式
    setInterval(updateTime, 1000); // 每秒更新一次時間

        //這裡是使用sweetAlert的方式
        function confirmDelete(event) {

            /*阻止默認的表單提交行為，確認在對話框顯示時候不會直接提交表單
            https://developer.mozilla.org/zh-TW/docs/Web/API/Event/preventDefault */
            event.preventDefault();

            //Swal.mixin({...})：創建一個SweetAlert2實例，並自定義確認按鈕和取消按鈕的樣式。
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            //顯示中文內容
            swalWithBootstrapButtons.fire({
                title: '你確定嗎？',
                text: '刪除後將無法復原！',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '刪除',
                cancelButtonText: '取消',
                reverseButtons: true
            })
                //.then((result) => {...})：使用 Promise 的then方法，當用戶點擊對話框上的按鈕後執行相應的操作。
                .then((result) => {

                    //result.isConfirmed：如果用戶點擊了確認按鈕，則執行提交表單的操作。
                    if (result.isConfirmed) {
                        $('form').submit();
                    }
                    //result.dismiss === Swal.DismissReason.cancel：如果用戶點擊了取消按鈕，則顯示一個取消的提示消息。
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            '已取消',
                            '刪除未成功 :)',
                            'error'
                        );
                    }
                });
        }
        //主頁面的AutoComplete
        var sierras = ["會員清單", "權限清單", "員工清單", "新增員工", "角色清單", "甜點清單", "新增甜點", "甜點類別", "課程管理", "新增課程", "課程類別", "師資管理", "新增教師", "教師清單", "訂單管理", "課程訂單", "甜點訂單", "行銷管理", "優惠群組清單", "優惠券清單", "新增優惠券", "會員優惠券清單", "發送優惠券", "優惠活動清單", "新增優惠活動"];

        function autocomplete(input, arr) {
            var currentFocus;
            var autocompleteItemsContainer;

            input.addEventListener("input", function (e) {
                var val = this.value;
                closeAllLists();

                if (!val) {
                    return;
                }

                currentFocus = -1;
                //在input的input事件處理函式中，獲取輸入框的值(val)，並根據該值從字詞陣列中過濾出符合條件的項目(matches)。
                var matches = arr.filter(function (item) {
                    return item.substr(0, val.length).toUpperCase() === val.toUpperCase();
                });

                //創建一個div元素(autocompleteItemsContainer)，作為顯示自動完成清單的容器。
                autocompleteItemsContainer = document.createElement("div");

               
                autocompleteItemsContainer.classList.add("autocomplete-items");
                this.parentNode.appendChild(autocompleteItemsContainer);

                //找出全部過濾的項目
                for (var i = 0; i < matches.length; i++) {

                    //為每個項目創建一個div元素(autocompleteItem)
                    var autocompleteItem = document.createElement("div");

                    //使用createLink函式創建包含i的連結元素(link)。
                    var link = createLink(matches[i]);

                    //將連結元素和一個隱藏的input元素添加到autocompleteItem中。
                    autocompleteItem.appendChild(link);
                    autocompleteItem.innerHTML += "<input type='hidden' value='" + matches[i] + "'>";

                    //監聽autocompleteItem的click事件，當用戶點擊項目時
                    autocompleteItem.addEventListener("click", function (e) {

                        //將項目的值設置為輸入框的值
                        input.value = this.getElementsByTagName("input")[0].value;

                        //關閉自動完成清單。
                        closeAllLists();
                    });
                    autocompleteItemsContainer.appendChild(autocompleteItem);
                }
            });

            //當按鍵事件發生在輸入框中時（keydown 事件）
            input.addEventListener("keydown", function (e) {
                var autocompleteItems = autocompleteItemsContainer ? autocompleteItemsContainer.children : [];

                //如果按下的是向下箭頭（ArrowDown），currentFocus 增加 1，然後調用 addActive 函式以在下拉選單中突顯新的選項。                
                if (e.key === "ArrowDown") {
                    currentFocus++;
                    addActive(autocompleteItems);
                }

                //如果按下的是向上箭頭（ArrowUp），currentFocus 減少 1，然後調用 addActive 函式以在下拉選單中突顯新的選項。
                else if (e.key === "ArrowUp") {
                    currentFocus--;
                    addActive(autocompleteItems);
                }

                //如果按下的是 Enter 鍵，會阻止預設行為（防止提交表單）並檢查 currentFocus 的值。如果 currentFocus 大於 - 1 且存在 autocompleteItems[currentFocus]，則模擬點擊該選項。
                if (e.key === "Enter") {
                    e.preventDefault();
                    if (currentFocus > -1 && autocompleteItems[currentFocus]) {
                        var link = autocompleteItems[currentFocus].querySelector("a");
                        if (link) {
                            link.click();
                        }
                    }
                }
            });

            function addActive(autocompleteItems) {
                if (!autocompleteItems || autocompleteItems.length === 0) {
                    return;
                }

                removeActive(autocompleteItems);

                if (currentFocus >= autocompleteItems.length) {
                    currentFocus = 0;
                }

                if (currentFocus < 0) {
                    currentFocus = autocompleteItems.length - 1;
                }

                autocompleteItems[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(autocompleteItems) {
                for (var i = 0; i < autocompleteItems.length; i++) {
                    autocompleteItems[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists() {
                if (autocompleteItemsContainer) {
                    autocompleteItemsContainer.parentNode.removeChild(autocompleteItemsContainer);
                    autocompleteItemsContainer = null;
                }
            }

            function createLink(text) {
                var link = document.createElement("a");
                link.classList.add("text-dark", "text-decoration-none");
                link.href = getLinkUrl(text);
                link.textContent = text;
                return link;
            }


            //getLinkUrl 函式是根據指定的文字內容返回對應的 URL。
            function getLinkUrl(text) {
                var baseUrl = "https://localhost:44320/";
                var linkUrls = {
                    "會員清單": "Members/Index",
                    "權限清單": "Permissions/Index",
                    "員工清單": "Employees/Index",
                    "新增員工": "Employees/Create",
                    "角色清單": "Roles/Index",
                    "甜點清單": "Desserts/Index",
                    "新增甜點": "Desserts/Create",
                    "甜點類別": "Categories/Index",
                    "課程管理": "Lessons/Index",
                    "新增課程": "Lessons/Create",
                    "課程類別": "LessonCategories/Index",
                    "新增教師": "Teachers/Create",
                    "教師清單": "Teachers/Index",
                    "課程訂單": "LessonOrders/Index",
                    "甜點訂單": "DessertOrders/Index",
                    "優惠群組清單": "DiscountGroups/Index",
                    "優惠券清單": "Coupons/Index",
                    "新增優惠券": "Coupons/Create",
                    "會員優惠券清單": "MemberCoupons/Index",
                    "發送優惠券": "MemberCoupons/Create",
                    "優惠活動清單": "Promotions/Index",
                    "新增優惠活動": "Promotions/Create"
                };
            //如果找到對應的 URL，則連結到那個網址。
                if (linkUrls.hasOwnProperty(text)) {
                    return baseUrl + linkUrls[text];
                }
            //如果找不到對應的 URL，則返回 "#"。
                return "#";
            }
            //document.addEventListener 函式用於監聽整個點擊事件。
            document.addEventListener("click", function (e) {

                //如果點擊事件發生在輸入框以外的任何地方，將調用 closeAllLists 函式以關閉下拉選單。
                if (!input.contains(e.target)) {
                    closeAllLists();
                }
            });
        }

        window.addEventListener("DOMContentLoaded", function () {
            var input = document.getElementById("tags");
            autocomplete(input, sierras);
        });
    </script>
</body>
</html>
