@model IEnumerable<NiceAdmin.Models.EFModels.LessonOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Coupon.CouponName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonOrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCancellationReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Coupon.CouponName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LessonOrderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderCancellationReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LessonOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LessonOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LessonOrderId })
        </td>
    </tr>
}

</table>
